

<table>
    <tr>
        <td><div class="center jumbotron1">
    </div></td>

        <td><h1>“It's often just enough to be with someone. I don't need to touch them. Not even talk. A feeling passes between you both. You're not alone.” <p>

          </p>  Amaze is a Social Networking Site which respects each and every feeling of every indivdual of its family..<h1></td>
    </tr>
</table>